In [29]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import datetime

In [30]:
df = pd.read_csv("HRDataSet.csv")
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [31]:
df.DOB.head()

0    7/10/1983
1     5/5/1975
2    9/19/1988
3    9/27/1988
4     9/8/1989
Name: DOB, dtype: object

In [32]:
df.DOB[0]
type(df.DOB[0])

str

In [33]:
df.DOB=pd.to_datetime(df.DOB).dt.date
df.DOB.head()

0    1983-07-10
1    1975-05-05
2    1988-09-19
3    1988-09-27
4    1989-09-08
Name: DOB, dtype: object

In [34]:
type(df.DOB[0])

datetime.date

In [35]:
df.DateofHire=pd.to_datetime(df.DateofHire).dt.date
df.DateofHire.head()

0    2011-07-05
1    2015-03-30
2    2011-07-05
3    2008-01-07
4    2011-07-11
Name: DateofHire, dtype: object

In [36]:
type(df.DateofHire[0])

datetime.date

In [50]:
# extracting the year from the Date of Hire
df['year'] = pd.DatetimeIndex(df['DateofHire']).year
display(df.year)

0      2011
1      2015
2      2011
3      2008
4      2011
       ...
306    2014
307    2008
308    2010
309    2015
310    2014
Name: year, Length: 311, dtype: int64

In [ ]:
  
# This function converts given date to age
def calculate_age(born_date):
    today = date.today()
    return today.year - born_date.year - ((today.month, 
                                      today.day) < (born_date.month, 
                                                    born_date.day))
  
df['Age'] = df['DOB'].apply(calculate_age)
  
display(df.Age)

0      39
1      47
2      33
3      33
4      32
       ..
306    37
307    40
308    42
309    43
310    43
Name: Age, Length: 311, dtype: int64

In [ ]:
df[['Age','Salary','Absences']].mean()

Age            42.935691
Salary      69020.684887
Absences       10.237942
dtype: float64

In [ ]:
df.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences', 'Age'],
      dtype='object')

In [ ]:
df.Age.groupby(df.Sex).agg(['mean','count'])

          mean  count
Sex
F    43.051136    176
M    42.785185    135

In [ ]:
df.groupby(df.Sex).agg(mean_age=('Age','mean'),mean_salary=("Salary","mean"),count_gender=('Sex','count'))

      mean_age   mean_salary  count_gender
Sex
F    43.051136  67786.727273           176
M    42.785185  70629.400000           135